/*Main Body*/

@import url('https://fonts.googleapis.com/css?family=Quicksand|Lato:300&display=swap');

* {
    margin:0;
    padding:0;
    border:0;
    align-items: center;
}

body {
    font-family: Lato, sans-serif;
    color: white;
    background-color: black;
    display: inline;
}

/* Hero image */

#hero-outer {
    height: 550px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 475px;
    width: 100%;
    background: url('../css/images/hero-image.png') no-repeat center center;
}

/*Container for how to play section */

.rules {
    position: relative;
    width: 100%;
    margin: 0 auto;
    min-height: 50px;
    padding-top: 5px;
    text-align: left;
    color:white;
    font-size: 18px;
}

/* Game area */

.game-area {
    width:75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    text-align: center;
}

/*container for the player section*/

.player {
    background-color: black;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    float:left;
    width:250px;
    height: 250px;
    font-size: 18px;
    overflow: hidden;
}

/*player image*/
#player-image {
    width:225px;
    height:225px;
}

/*container for the computer 'System' player*/
.computer {
    background-color: black;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    float:left;
    width:250px;
    height: 250px;
    font-size:18px;
    overflow: hidden;
}

/*computer/'System's' image*/
#computer-image {
    width:225px;
    height:225px;
    margin: 0 auto;
}

/*Score area*/
.score-area {
    margin: 5px auto;
    width: 90%;
    font-size: 1.2rem;
}

/*Scores*/
.scores {
    display: inline-block;
    padding: 25px;
    color: white;
}

/*Reset button*/

.btn--reset {
    margin-top: 100px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 26px;
    background-color: white;
    color: black;
}

.btn--reset:active,
.btn--reset:hover {
    background-color: #fafafa;
    color: blue;
}

.reset_button {
    
}