/*Main Body*/

@import url('https://fonts.googleapis.com/css?family=Quicksand|Lato:300&display=swap');

body {
    font-family: Lato, sans-serif;
    color: white;
    background-color: black;
    display: inline;
}

/* Hero image */

#hero-outer {
    height: 480px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 475px;
    width: 100%;
    background: url('../images/hero-image.png') no-repeat center center;
}

/*Container for how to play section */

.rules {
    display: flex;
    min-height: 50px;
    padding: 5px;
    color: white;
    font-size: 18px;
    align-items: center;
    justify-content: center;
}

/* Game area */

.game-area {
    display: flex;
    background-color: black;
    box-sizing: border-box;
    width: 50%;
    height: 50vh;
    max-height: 400px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}

.btn {
    padding: 0%;
    border-width: 10px;
    border-color: black;
    height: 300px;
    padding-bottom: 10px;
}

/*Score area*/

.score-area {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    font-size: 26px;
    border: 3px solid white;
    align-items: center;
    justify-content: center;
}

.scores {
    padding: 10px 25px;
    color: white;
}

/*Reset button*/

#reset_button {
    display: flex;
    align-items: center;
    justify-content: center;
}

#reset {
    display: flex;
    margin-top: 25px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 26px;
    background-color: white;
    color: black;
    align-items: center;
    justify-content: center;
}

#reset:active,
#reset:hover {
    background-color: #fafafa;
    color: red;
}

footer {
    padding: 15px;
    height: 50px;
    text-align: center;
}

/* Media Queries */

@media (max-width: 414px) {
    .controls-area {
        width: 100%;
    }

    .btn {
        margin: 0 10px;
        padding: 5px;
        border: 5px solid;
        width: 50px;
        height: 50px;
        font-size: 1.5rem;
    }

    .btn::after {
        font-size: 0.6rem;
        left: -0.7rem;
    }

    .score-area {
        width: 100%;
    }

    .scores {
        margin: 0.5em auto;
        display: block;
        padding: 5px;
    }

    .heading {
        font-size: 2rem;
    }
}

@media (max-width: 320px) {
    .game-area {
        height: 70vh;
    }

    .controls-area {
        width: 75%;
        margin: 10px auto;
    }

    .btn {
        margin: 10px 10px;
    }
}