/*Main Body*/

@import url('https://fonts.googleapis.com/css?family=Quicksand|Lato:300&display=swap');

body {
    font-family: Lato, sans-serif;
    color: white;
    background-color: black;
    display: inline;
}

/* Hero image */

#hero-outer {
    height: 480px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 475px;
    width: 100%;
    background: url('../images/hero-image.png') no-repeat center center;
}

/*Modal for how to play section */

#myBtn {
    display: flex;
    margin: 0 auto;
    border-radius: 2px;
    border-color: white;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 32px;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: center;
}

#myBtn:hover {
    background-color: #fafafa;
    color: rgb(170, 2, 120);
}

.modal {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 75%;
    align-items: center;
    justify-content: center;
    background-color: #00000075;
}

.modal-content {
    background-color: black;
    margin: 15% auto;
    padding-bottom: 50px;
    border: 1px solid white;
    width: 35%;
    font-size: 32px;
    text-align: center;
}

#leaderboard-input {
    padding: 15px;
}

#leaderboard-submit {
    background-color: white;
    border: 2px;
    color: black;
    font-size: 20px;
    padding: 8px;
    border-radius: 4px;
}

#leaderboard-submit:hover {
    background-color: black;
    border-color: white;
    border: 2px;
    color: rgb(123, 255, 0);
}

.close {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(123, 255, 0);
    text-decoration: none;
    cursor: pointer;
}

/* Game area */

.game-area {
    display: flex;
    background-color: black;
    box-sizing: border-box;
    border-color: black;
    border-radius: 2px;
    width: 50%;
    height: 50vh;
    max-height: 400px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}

#messages {
    display: flex;
    font-size: 32px;
    padding: 25px 5px;
    align-items: center;
    justify-content: center;
}

.btn {
    padding: 0%;
    border-width: 10px;
    border-color: black;
    height: 320px;
    padding-bottom: 10px;
}

/*Score area*/

.score-area {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    font-size: 26px;
    border: 3px solid white;
    align-items: center;
    justify-content: center;
}

.scores {
    padding: 10px 25px;
    color: white;
}

/*Reset button*/

#reset_button {
    display: flex;
    align-items: center;
    justify-content: center;
}

#reset {
    display: flex;
    margin-top: 25px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 26px;
    background-color: white;
    color: black;
    align-items: center;
    justify-content: center;
}

#reset:active,
#reset:hover {
    background-color: black;
    color: rgb(123, 255, 0);
}

footer {
    padding: 15px;
    height: 50px;
    text-align: center;
}

/* Leaderboard */

#leaderboard {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    width: 25%;
    font-size: 26px;
    border: 3px solid white;
    align-items: center;
    justify-content: center;
}

/* Media Queries */

@media (max-width: 414px) {

    #hero-image {
        background: url("../images/hero-image-500.png") no-repeat center center;
    }

    .controls-area {
        width: 100%;
    }

    .game-area {
        display: inline-block;
    }

    .score-area {
        width: 100%;
    }

    .modal-content {
        width: 100%;
    }

    #leaderboard {
        width: 100%;
    }
}


@media (max-width: 280px) {
    .controls-area {
        width: 100%;
    }

    #hero-image {
        background: url("../images/hero-image-500.png") no-repeat center center;
    }

    .game-area {
        display: inline-block;
    }

    .score-area {
        width: 100%;
    }

    #leaderboard {
        width: 100%;
    }

}