/*Main Body*/

@import url('https://fonts.googleapis.com/css?family=Quicksand|Lato:300&display=swap');

* {
    margin:0 auto;
    align-items: center;
    justify-content: center;
}

body {
    font-family: Lato, sans-serif;
    color: white;
    background-color: black;
    display: inline;
}

/* Hero image */

#hero-outer {
    height: 550px;
    width: 75%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 475px;
    width: 75%;
    background: url('../images/hero-image.png') no-repeat center center;
}

/*Container for how to play section */

.rules {
    display: flex;
    min-height: 50px;
    padding: 5px;
    color: white;
    font-size: 18px;
    align-items: center;
    justify-content: center;
}

/* Game area */

.game-area {
    display: flex;
    background-color: black;
    width: 50%;
    height: 50vh;
    max-height: 400px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    align-items: center;
    justify-content: center;
}

/*Score area*/

.score-area {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    font-size: 26px;
    border: 3px solid white;
    align-items: center;
    justify-content: center;
}

.scores {
    padding: 10px;
    color: white;
}

/*Reset button*/

#reset {
    display: flex;
    margin-top: 25px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 26px;
    background-color: white;
    color: black;
    align-items: center;
    justify-content: center;
}

#reset:active,
#reset:hover {
    background-color: #fafafa;
    color: red;
}